@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,300;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", roboto;
}
body {
  background-color: #143559;
}
.container {
  background-color: #ffff;
  font-size: 16px;
  padding: 3em 2em;
  width: 35%; /* i learnt view width property*/
  /* max-width: 32%; */
  position: absolute;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  box-shadow: 2px 6.5px 13.5px 11.5px rgba(0, 0, 0, 0.2);
}
.search-container {
  width: 100%;
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1.2em;
}
.search-container input {
  font-size: 14px;
  border: none;
  outline: none;
  padding: 0.6em;
  border-bottom: 1.3px solid #143559;
  text-transform: capitalize;
}
.search-container button {
  font-size: 14px;
  background-color: #143559;
  color: white;
  border: none;
  font-weight: 600;
  border-radius: 4px;
  transition:all ease 0.3s;
  cursor: pointer;
}
.search-container button:hover{
  background-color: #1c3d69;
}
h3 {
  text-align: center;
  margin-top: 1.8rem;
  color:#143559;
}
img {
  display: block;
  width: 50%;
  margin: 1.8em auto;
}
.details {
  background-color: #143559;
  position: relative;
  margin: -2.5em auto 0 auto;
  text-align: center;
  padding: 0.6em 0;
  color: #fff;
  border-radius: 4px;
}
.details h2 {
  font-size: 1.2em;
  font-weight: 600;
}
.details h4 {
  font-size: 1em;
  font-weight: 400;
}
.recipe {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 2;
  border-radius: 8px;
  display: none;
}

.recipe pre {
  font-size: 0.8rem;
  white-space: pre-wrap; /* i applied new things hahahahah....*/
  word-wrap: break-word;
  padding: 2.3em 1.2em 1.2em 1.2em;
}
#hide-recipe {
  font-size: 1em;
  width: 1.8em;
  height: 1.8em;
  background-color: #143559;
  color: #fff;
  outline: none;
  border: none;
  position: relative;
  left: 90%;
  top: 1em;
  border-radius: 4px;
}
#show-recipe {
  position: relative;
  left: 74%;
  font-weight: 600;
  border: none;
  outline: none;
  top: 1em;
  background-color: #143559;
  color: #fff;
  padding: 0.9em 0.5em;
  border-radius: 4px;
}

ul {
  font-size: 15px;
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.8em 1em;
  padding: 1.2em 0em 0em 1.2em;
  height: 200px;
  overflow: hidden;
  overflow: auto;
}
footer p{
  color: rgb(224, 219, 219);
  position: absolute;
  bottom: 1rem;
  font-size: .8rem;
  width: 100%;
  text-align: center;
  letter-spacing: 1.2px;
}
@media screen and (max-width: 300px) {
  footer p{
    display: none;
  }
  .container {
    width: 85%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: all ease 0.3s;
  }
  .search-container {
    gap: .8rem;
    grid-template-columns: 1fr;
  }
  .search-container input{
    font-size: 10px;
  }
  .search-container button {
    font-size: 10px;
    padding: .8rem 0.6rem;
  }
  .details {
    padding: 0.4em 0;
  }
  .details h2 {
    font-size: .8em;
  }
  .details h4 {
    font-size: 0.6em;
  }
  ul {
    font-size: 10px;
    gap: 0.6em 1em;
    padding: 1em 0em 0em 1.2em;
  }
  #show-recipe {
    left: 63%;
    top: 2em;
    font-size: 10px;
    padding: 0.7em 0.5em;
  }
  #hide-recipe{
    left: 85%;
  }

  .recipe pre {
    border-top: 1px solid grey;
    display: block;
    margin-top: 2rem;
    height: 420px;
    overflow: hidden;
    overflow-y: auto;
    font-size: 0.8rem;
    white-space: pre-wrap; /* i applied new things hahahahah....*/
    word-wrap: break-word;
    padding: 2.3em 1.3em 4em 1.3em;
  }
}
@media screen and (min-width:301px) and (max-width: 500px) {
  .container {
    width: 85%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: all ease 0.3s;
  }
  .search-container {
    gap: 1rem;
    grid-template-columns: 1fr;
  }
  .search-container input{
    font-size: 12px;
  }
  .search-container button {
    font-size: 12px;
    padding: .8rem 0.6rem;
  }
  .details {
    padding: 0.4em 0;
  }
  .details h2 {
    font-size: 1em;
  }
  .details h4 {
    font-size: 0.8em;
  }
  ul {
    font-size: 12px;
    gap: 0.6em 1.2em;
    padding: 1.2em 0em 0em 1.4em;
  }
  #show-recipe {
    left: 65%;
    top: 2em;
    font-size: 12px;
    padding: 0.9em 0.5em;
  }
  .recipe pre {
    border-top: 1px solid grey;
    display: block;
    margin-top: 2rem;
    height: 520px;
    overflow: hidden;
    overflow-y: auto;
    font-size: 0.8rem;
    white-space: pre-wrap; /* i applied new things hahahahah....*/
    word-wrap: break-word;
    padding: 2.3em 1.3em 4em 1.3em;
  }
  footer p{
    display: none;
  }
}

